# Solution 1

A database is an organized collection of data that allows efficient storage, retrieval, and management. It helps in handling large amounts of structured or unstructured data.

The main and most important differences b/w SQL and NOSQL databases are:

1) SQL are structured (tables with rows and columns) whereas, NOSQL are unstructured or semi structured (JSON,key-value, graph,etc.)

3) SQL are suitable for complex queries and transactions whereas, NOSQL are suitable for big data and real-time applications.

   examples of SQL are:MySQL, PostgreSQL, SQL Server,etc.

   
   examples of NOSQL are: MongoDB,Cassandra,Firebase,etc.

# Solution 2

DDL (Data Definition Language) is used to define, modify, and delete database structures but does not manipulate data.

DDL Commands:

1)CREATE → Used to create a database or table.

ex: CREATE TABLE students (
    id INT PRIMARY KEY,
    name VARCHAR(50),
    age INT
 );


2)DROP → Deletes a table or database permanently.

 ex:DROP TABLE students;

3)ALTER → Modifies an existing table (e.g., adding a new column).

 ex:ALTER TABLE students ADD COLUMN email VARCHAR(100);

4)TRUNCATE → Deletes all records from a table but keeps its structure.

 ex:TRUNCATE TABLE students;

# Solution 3

DML (Data Manipulation Language) is used to manipulate the data stored in the database.

DML Commands:

1)INSERT → Adds new records to a table.

 ex:INSERT INTO students (id, name, age) VALUES (1, 'John Doe', 20);
 
2)UPDATE → Modifies existing records in a table.

ex:UPDATE students SET age = 21 WHERE id = 1;

3)DELETE → Removes specific records from a table.

ex:DELETE FROM students WHERE id = 1;

# Solution 4

DQL (Data Query Language) is used to retrieve data from a database.

SELECT Command:
The SELECT statement is used to fetch data from a database table.
    
Example:SELECT name, age FROM students WHERE age > 18;

This query retrieves the name and age of students older than 18.

# Solution 5

Primary Key

1)A unique identifier for each record in a table.

2)Cannot be NULL.

ex:
CREATE TABLE students (
    id INT PRIMARY KEY,
    name VARCHAR(50)
);

Foreign Key

1)A column that creates a link between two tables.

2)References the Primary Key of another table.

ex:
CREATE TABLE courses (
    course_id INT PRIMARY KEY,
    course_name VARCHAR(100),
    student_id INT,
    FOREIGN KEY (student_id) REFERENCES students(id)
);

# Solution 6

In [1]:
import mysql.connector

# Establish connection
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="yourpassword",
    database="yourdatabase"
)

# Create a cursor object
cursor = conn.cursor()

# Execute a query
cursor.execute("SELECT * FROM students")

# Fetch and print results
for row in cursor.fetchall():
    print(row)

# Close connection
cursor.close()
conn.close()

Explanation of cursor() and execute()

cursor() → Creates a cursor object that interacts with the database.

execute() → Executes SQL queries like SELECT, INSERT, UPDATE, etc.

SyntaxError: invalid character '→' (U+2192) (3836454014.py, line 27)

# Solution 7

The correct execution order of SQL clauses:

1)FROM → Specifies the table.

2)WHERE → Filters the records.

3)GROUP BY → Groups records by a specified column.

4)HAVING → Filters grouped records.

5)SELECT → Chooses the columns to retrieve.

6)ORDER BY → Sorts the results.

7)LIMIT → Restricts the number of records.