# Solution 1

In [1]:
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)
print("Q1 Series:")
print(series)

Q1 Series:
0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

# Solution 2

In [2]:
my_list = [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
series2 = pd.Series(my_list)
print("\nQ2 Series from list:")
print(series2)

Q2 Series from list:
0     1
1     3
2     5
3     7
4     9
5    11
6    13
7    15
8    17
9    19
dtype: int64

# Solution 3

In [3]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 22],
    'City': ['New York', 'San Diego', 'Boston']
}
df = pd.DataFrame(data)
print("\nQ3 DataFrame:")
print(df)

Q3 DataFrame:
      Name  Age       City
0    Alice   25   New York
1      Bob   30  San Diego
2  Charlie   22     Boston

# Solution 4

A Series is a one-dimensional labeled array.

A DataFrame is a two-dimensional table (like an Excel sheet) with rows and columns.

In [4]:
# Series
s = pd.Series([1, 2, 3])
print("\nSeries:")
print(s)

# DataFrame
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
print("\nDataFrame:")
print(df)

Series:
0    1
1    2
2    3
dtype: int64

DataFrame:
   A  B
0  1  4
1  2  5
2  3  6

# Solution 5

Common Functions:
head(), tail() – View top/bottom rows

describe() – Summary statistics

drop() – Remove columns/rows

fillna(), dropna() – Handle missing data

groupby() – Group data for aggregation

sort_values() – Sort data

merge() – Join DataFrame

In [ ]:
# Drop a column
df = df.drop(columns=['City'])  # Removes the City column
print("\nDataFrame after dropping 'City':")
print(df)

# Solution 6

 All three are mutable in nature (Series, DataFrame, and Panel).

# Solution 7

In [6]:
# Creating Series
names = pd.Series(['Anna', 'Ben', 'Cathy'])
ages = pd.Series([28, 34, 22])
cities = pd.Series(['Chicago', 'Dallas', 'Austin'])

# Creating DataFrame from Series
df_from_series = pd.DataFrame({
    'Name': names,
    'Age': ages,
    'City': cities
})
print("\nQ7 DataFrame from multiple Series:")
print(df_from_series)

Q7 DataFrame from multiple Series:
    Name  Age     City
0   Anna   28  Chicago
1    Ben   34   Dallas
2  Cathy   22   Austin